<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="text-center">
      <h1 class="m-3">URL Shortener</h1>
      <img class="m-3" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="link_image">

      {{{body}}}


    </div>

  </div>


  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/main.js"></script>

</body>

</html>