<form action="/shortener" id="shortener">
  <div class="input-group m-3">
    <input type="text" name="keyword" class="form-control" placeholder="Input URL here" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>
  <button form="shortener" type="submit" form="shortener" class="btn btn-outline-primary">Shortener</button>
</form>