<h1>Success! Please use this link:</h1>

<div class="alert-copy"></div>
<h1><a href="http://localhost:{{port}}/{{URL_obj.shortUrl}}"
    class="fw-bolder fs-3 text-copy">http://localhost:{{port}}/{{URL_obj.shortUrl}}</a></h1>

{{!-- 複製貼上功能寫在main.js --}}
<button type="button" class="btn btn-primary mt-3 btn-copy">Copy</button>